# ===== Start Jekyll.gitignore =====
_site/
.sass-cache/
.jekyll-metadata
.asset-cache
Gemfile.lock
# ===== End Jekyll.gitignore =====

# ===== Start FireBase .gitignore =====
.firebaserc
database.rules.json
firebase.json
# ===== End FireBase .gitignore =====

# ===== Start Netlify .gitignore =====
.netlify
# ===== End Netlify .gitignore =====

# ===== Start VS Code .gitignore =====
.vscode*
# ===== End VS Code .gitignore =====
