---
layout: page
title: Sheriff Jail Division
permalink: /sheriff/jaildivision/
---

<div class="row">
	<div class="col-md-8">
		<!-- Department Description -->
		<div class="col-md-12">
			<div class="panel panel-default">
				<p class="panel-body">
					The Latah County Jail is an adult male and female holding facility that was built in 1972. 
					The jail is designed to hold adults being charged with a crime while awaiting trial, and those adults sentenced to local 
					jail time or awaiting transport to the Idaho Department of Corrections. We also hold for other forms of due process. 
					We house adult prisoners for the Idaho State Police, Moscow Police Department, United States Marshals Service, Bureau of Prisons, 
					Idaho Department of Corrections, other various counties and our own agency. The jail has a maximum holding capacity of 42 individuals.									
					<br><br>
					The jail is staffed by 1 Lieutenant, 1 Sergeant, 2 Corporals and 8 Deputies working 2 different shifts. 
					The jail admits new bookings and releases inmates twenty four hours a day. The Jail Staff dispenses medication, feeds inmates, 
					delivers and receives individuals from court and transports inmates to different agencies. They also provide housed inmates access to the library,
					recreation yard, attorneys, clergy, and special programs. Security checks, as well as inmates needing work/ school / treatment release are
					also done throughout the entire day.
					<br><br>
					The jail's library consists of reading books, a Pull up Bar and Dip Bar. We also have an outside recreation yard.
					 Both the library and recreation yard are constantly monitored. Inmates are allowed one hour per day in either location or a combination of both. 
					 The library contains a complete set of Idaho Code books and Federal Code books for legal research. 
					<br><br>
					The jail offers special programs to inmates to include Alcoholics Anonymous, Narcotics Anonymous, church services and a G.E.D program. 
					<br><br>
					Prisoners are offered visitation with family and friends. Male inmates are allowed visitors Sunday's 1:00-4:00 PM, Tuesday 1:00-3:00 PM and 
					Thursdays 7:00-9:00 PM. Female inmates are allowed visitors Monday's 7:00-9:00 PM, Thursdays 1:00-3:00 PM and Saturdays 1:00 – 3:00 PM. 
					All visits are in special visiting room and are non-contact. Visitors must be 18 years of age or accompanied by their parent or legal guardian, 
					and must not have been incarcerated within the last 30 days. If you are on probation you must have prior approval through your probation officer. 
					Everyone visiting must have a valid picture ID.
					<br><br>
					Medical Staff come into the jail twice a week for inmate sick call and they handle the majority of the cases. 
					Those cases that require a specialists such as Dental, Eye Exams Lab Work, x-ray’s or any other procedure that cannot be done in the
					facility are brought to a local Provider in the area.
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		{% include contactBlock.html %}

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Additional Information</h3>
			</div>
			<div class="list-group">
					<a href="../jailContactInmates.html" data-remote="false" class="list-group-item list-link text-center" data-toggle="modal" data-target="#myModal">Contacting Inmates</a>
				<a href="#" id="inmateTelephone" class="list-group-item list-link text-center" onclick="downloadFileEx('Latah-County-Website-Phone-Information.pdf'); return false;">Inmate Telephone Services</a>
				<a href="../inmateMail.html" data-remote="false" class="list-group-item list-link text-center" data-toggle="modal" data-target="#myModal">Inmate Mail</a>
				<a href="../jailLocation.html" data-remote="false" class="list-group-item list-link text-center" data-toggle="modal" data-target="#myModal">Jail Location</a>				
				<a href="../jailInspections.html" data-remote="false" class="list-group-item list-link text-center" data-toggle="modal" data-target="#myModal">Jail Inspections</a>
				<a href="../jailPostingBond.html" data-remote="false" class="list-group-item list-link text-center" data-toggle="modal" data-target="#myModal">Posting Bond</a>				
				<a href="../jailVisitingInfo.html" data-remote="false" class="list-group-item list-link text-center" data-toggle="modal" data-target="#myModal">Visiting Information</a>
				<a href="/sheriff/" data-remote="false" class="list-group-item list-link text-center">Sheriff Home</a>
			</div>
		</div>

	</div>
</div>

{% include modalPopup.html %}

<script text/javascript>
function downloadFileEx(filename){
				var url = 'https://www.latah.id.us/api/DownloadFileEx?filename=' + filename;
				window.open(url);
			}
</script>
