<div class="row">
  <div class="col-md-4">
    {% if official.image != nil %}
      {% cloudinary officials {{ official.image }} alt="{{ page.title }} - {{ page.department }}" %}
    {% else %}
      <img src="https://placehold.it/500x600" class="img-responsive" alt="{{ page.title }} - {{ page.department }}" />
    {% endif %}
    <h4 class="text-center">
      {{ page.title }}<br />
      <small>Latah County {{ page.department }}</small>
    </h4>
  </div>

  <div class="col-md-8">
    {{ official.description }}
  </div>
</div>
