<footer>
  <div id="footer">
      <div class="row">
          <div id="container">
              <div class="nav navbar-inverse navbar-fixed-bottom">
                  <div class="text-center">
                      <h4 class="text-muted text-center">
                        Copyright &copy; {% include copyright.html %} Latah County<br />
                        <a href="{{ site.baseurl }}/terms/">Terms of use</a><br />
                      </h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>

<!-- Latest compiled and minified JavaScript -->
<!-- Jquery -->
<script src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
<!-- MomentJS w/Locales -->
<script src="https://cdn.jsdelivr.net/momentjs/2.18.1/moment-with-locales.min.js" integrity="sha256-/ioiJhI6NkoUDkSyBru7JZUGXGQhdml6amBC3ApTf5A=" crossorigin="anonymous"></script>
