<footer>
  <div id="footer">
      <div class="row">
          <div id="container">
              <div class="nav navbar-inverse navbar-fixed-bottom">
                  <div class="text-center">
                      <h4 class="text-muted text-center">
                        Copyright &copy; {% include copyright.html %} Latah County<br />
                        <a href="{{ site.baseurl }}/terms/">Terms of use</a><br />
                      </h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
