<footer>
  <div id="footer">
      <div class="row">
          <div id="container">
              <div class="nav navbar-inverse navbar-fixed-bottom">
                  <div class="text-center">
                      <h4 class="text-muted text-center">
                        Copyright &copy; {% include copyright.html %} Latah County<br />
                        <a href="{{ site.baseurl }}/terms/">Terms of use</a><br />
                      </h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/jquery/2.2.3/jquery.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
