<div id="menu">
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Latah County</a> -->
        </div>
        <div class="collapse navbar-collapse">
          {% assign current = page.url | downcase | split: '/' %}

          <ul class="nav navbar-nav">
            <li {% if current[1] == 'home' %}class='active'{% endif %}>
              {% for link in site.data.menu.Home %}
                <li>
                  <a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </li>
            <li>
              {% for link in site.data.menu.Officials %}
                <li>
                  <a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departments <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% for link in site.data.menu.Departments %}
                <li>
                  <a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
            </li>
            <li>
              {% for link in site.data.menu.Resources %}
                <li>
                  <a class="page-link" href="{{ link.url | prepend: site.baseurl }} {{ link.target }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </li>
            <li>
              {% for link in site.data.menu.Employment %}
                <li>
                  <a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </li>
            <li>
              {% for link in site.data.menu.Elections %}
                <li>
                  <a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% for link in site.data.menu.Quick_links %}
                <li>
                  <a class="page-link" href="{{ link.url | prepend: site.baseurl }}" {{ link.target }}>{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mapping<b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% for link in site.data.menu.Mapping %}
                <li>
                  <a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
            </li>
            <li>
              {% for link in site.data.menu.Contact %}
              <li>
                <a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
              </li>
              {% endfor %}
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
</div>
