<div id="menu">
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" role="button" aria-label="Mobile Nav Bar Toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs" href="/">
            {% cloudinary brandLogo /img/logo_sm.png alt="Latah County Seal" %}
          </a>
            <a class="navbar-brand visible-xs" href="/">Latah County</a>
        </div>
        <div class="collapse navbar-collapse">
          {% assign current = page.url | downcase | split: '/' %}
          <form class="navbar-form navbar-right visible-xs" role="search">
              <div class="form-group">
                <input type="text" class="form-control algolia__input js-algolia__input" id="navSearchBar" title="Search Bar" autocomplete="off" name="query" placeholder="Search..." />
              </div>
          </form>
          <!-- <div class="dropdown navbar-form navbar-right hidden-xs">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="glyphicon glyphicon-search"></i>
            </button>
                <form class="dropdown-menu" style="padding: 0;" aria-labelledby="dropSearch" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control algolia__input js-algolia__input" id="navSearchBar" title="Search Bar" autocomplete="off" name="query" placeholder="Search..." />
                    </div>
                </form>
          </div> -->
          <ul class="nav navbar-nav">
            <li {% if current[1] == 'home' %}class='active'{% endif %}>
              {% for link in site.data.menu.Home %}
                <li>
                  <a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </li>
            <li>
              {% for link in site.data.menu.Officials %}
                <li>
                  <a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departments <b class="caret"></b></a>
            <ul class="dropdown-menu" id="deptNav">
              {% for link in site.data.menu.Departments %}
                <li>
                  <a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
            </li>
            <li>
              {% for link in site.data.menu.Resources %}
                <li>
                  <a class="page-link" href="{{ link.url | prepend: site.baseurl }} {{ link.target }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </li>
            <li>
              {% for link in site.data.menu.Employment %}
                <li>
                  <a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </li>
            <li>
              {% for link in site.data.menu.Elections %}
                <li>
                  <a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mapping<b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% for link in site.data.menu.Mapping %}
                <li>
                  <a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
            </li>
            <li>
              {% for link in site.data.menu.Contact %}
              <li>
                <a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
              </li>
              {% endfor %}
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
</div>