<div class="container col-md-4" id="notices">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="text-center">Notices</h3>
    </div>
    <div class="list-group">
      {% for notice in site.data.notices %}
        {% if notice.home %}
          <a href="{{ notice.url }}" target="{{ notice.target }}" rel="noopener" class="list-group-item list-link text-center">
            {{ notice.title }}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
