<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" integrity="sha256-ULjuiZ9iqqf97EETp/mZrnLusfOwISiI6AIL0IXShbc=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js" integrity="sha256-rmZZb5ESAjCE4Al5RfENzQBpw1VbShzLes76aW8c+kc=" crossorigin="anonymous"></script>


<!-- Latest compiled and minified JavaScript -->
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
<!-- MomentJS -->
<script src="https://cdn.jsdelivr.net/momentjs/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
<!-- Jquery Match Height -->
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@latest/dist/jquery.matchHeight-min.js"></script>


<!-- Custom Scripts -->
<!-- Global JS -->
{% asset main.js %}
<!-- Weather for banner -->
{% asset weather.js %}

<!-- Contacts -->
{% if page.title == "Contact" %}
  {% asset contacts.js %}
{% endif %}

<!-- Contacts -->
{% if page.contacts %}
  {% asset contacts.js %}
{% endif %}

<!-- Adds upcomingEvents script to pages. -->
{% if page.calendar %}
  {% asset calendar.js %}
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.8.0/dist/fullcalendar.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@3.8.0/dist/fullcalendar.min.css" crossorigin="anonymous" />
  <link rel="stylesheet" media="print" href="https://cdn.jsdelivr.net/npm/fullcalendar@3.8.0/dist/fullcalendar.print.min.css" crossorigin="anonymous" />
{% endif %}