// Custom Styling
body
  background-color: $primary-color
  background: url(https://res.cloudinary.com/latah-county-its/image/fetch/c_limit,f_auto,q_auto,w_auto,dpr_auto/https://latah-site.netlify.com/img/palouse.png) 0 0 no-repeat
  background-attachment: fixed
  background-size: cover
  padding-top: 60px

/* Wrapper for page content to push down footer */
#wrap
  min-height: 100%
  height: auto !important
  height: 100%
  /* Negative indent footer by its height */
  margin: 0 auto 65px

/* Custom page CSS */
#wrap > .container
  background-color: $wrapper-color
  border-radius: 15px
  padding: 0 15px 25px

#banner
  background: url(https://res.cloudinary.com/latah-county-its/image/fetch/c_limit,f_auto,q_auto,w_auto,dpr_auto/https://latah-site.netlify.com/img/palouse.png) no-repeat
  height: 200px
  margin-top: 10px

#header
  background-color: $header-color
  font-family: $header-font

.page-header
  border: none

#deptHeader
  color: $deptHeader-color
  font-family: $header-font

#stateseal, #logo_sm
  max-width: 100px
  padding-top: 10px

#stateseal
  float: right

#aboutRow
  margin: 10px 0

.row.display-flex
  display: flex
  flex-wrap: wrap
  > [class*='col-']
    display: flex
    flex-direction: column

.list-group-item
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  &.list-link
    color: #337ab7
    &:hover
      color: #337ab7
      text-decoration: underline
