---
layout: page
title: Planning and Building
permalink: /planning_building/
calendar: true
tree: true
---

<div class="row">
	<!-- Department Description -->
	<div class="col-md-8 hidden-xs">
		<div class="panel panel-primary">
			<p class="panel-body">
				The County Planning and Building Department administers the county's land use and development ordinances and reviews applications for conditional use permits, subdivisions and zone changes for presentation to the Planning Commission, Zoning Commission and the Board of County Commissioners. The department provides assistance with various land use issues and ensures compliance with existing regulations. Other functions of this department include the enforcement of adopted building code regulations, and providing assistance with community development projects.
			</p>
		</div>
	</div>
	<!-- End Description -->
	<div class="col-md-4">
	{% include contactBlock.html %}
	<!-- Services -->
  	<div class="panel panel-primary">
  		<div class="panel-heading">
				<h3 class="panel-title text-center">Our Services</h3>
			</div>
  		<ul class="list-group text-center">
      	<li class="list-group-item">Mapping</li>
      	<li class="list-group-item">Building Permits</li>
      	<li class="list-group-item">Home Inspections</li>
    	</ul>
  	</div>
		<!-- Meeting Notice Signup -->

			<div class="panel panel-primary">
				<!-- Button trigger modal -->
				<a href="#myModal" data-toggle="modal">
						<p class="list-group-item list-link text-center">
							<a href="http://www.latah.id.us/mailman/listinfo/planzone">Signup for Meeting Notices</a>
						</p>					
				</a>
			</div>

		<!-- Modal -->
		<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Signup for Meeting Notices</h4>
		      </div>
		      <div class="modal-body">
						<form name="subscribe" method="post" action="">
							<p>
								If you subscribe to this service you will receive an e-mail every time a Planning or Zoning Commission agenda is added or amended to this web site.
							</p>
							<p>
								Please enter your e-mail address in the box below, select subscribe or unsubscribe and then select the Send Request button.
							</p>
							<p>
								subscribe:<input type="radio" name="action" value="join" checked="">
								unsubscribe: <input name="action" type="radio" value="leave">
							</p>
							E-mail Address: <input name="sAddr" type="text" size="35" value="">
							<input type="submit" value="Send Request">
						</form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div> -->
	</div>
</div>
<!-- End Services -->
<!-- Handouts and Notices -->
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title text-center"> Applications &amp; Handouts</h4>
			</div>
			<div class="list-group">
				<div id="pbDir"></div>
			</div>
			<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
				<div class="list-group pre-scrollable">
					<div id="ordinances"></div>
					<noscript>To view forms please enable JavaScript or update your browser</noscript>
				</div>
			</div>
			<!-- Ordinances -->
		</div>
	</div>
	<!-- End Handouts and Notices -->
	<!-- Upcoming Events -->
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title text-center">Upcoming Events</h4>
			</div>
			<div class="list-group">
				<div id='loading'>loading...</div>
				<div id='calendar'></div>
				<!-- <span class="list-group-item text-center">No Upcoming Events</span> -->
			</div>
		</div>
	</div>

	{% include calendarModal.html %}
	<!-- End Upcoming Events -->


	<!-- End Meeting Notice Signup -->
</div>

<script type="text/javascript">
	calendarList("PlanningBuilding",0, 30);
</script>
<script type="text/javascript">
	deptTree("pbDir", "PlanningBuilding")
</script>
