---
layout: page
title: Department of Motor Vehicles
permalink: /dmv/
news: true
---

<div class="row">
	<div class="col-md-8">
    <!-- Department Description -->
    <div class="col-md-12">
			<div class="panel panel-primary">
				<p class="panel-body">Administered by the <a href="/assessor/">County Assessor</a>, the Motor Vehicle Licensing office transfers titles and registrations on new, used and out-of-state automobiles and manufactured homes, collects sales tax on private sales and out-of-state dealers, registers and titles recreational vehicles and vessels, adds liens and clears titles, and registers previously owned vehicles, and when necessary, performs Vehicle Identification Number (VIN) inspections. This department is located at the Latah County Annex at 200 S. Almon Street in Moscow.</p>
			</div>
    </div>
		<!-- End Description -->

  <!-- Notices and News -->
    <div class="container col-md-6" id="notices">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Notices</h3>
        </div>
        <div class="list-group">
        	<div id="dmvNotice" ></div>
        </div>
      </div>
    </div>
    <div class="container col-md-6" id="news">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center">News</h3>
        </div>
        <div class="list-group">
					<div id="dmvNews" ></div>
        </div>
      </div>
    </div>
    <!-- end notices and news -->
  </div> <!-- class="col-md-8" -->
  <div class="col-md-4">
    {% include contactBlock.html %}
    <!-- services -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Our Services</h3>
      </div>
      <div class="list-group">
        <li class="list-group-item text-center">Title Transfers & Registration</li>
        <li class="list-group-item text-center">Vehicle Identification Inspections</li>
        <li class="list-group-item text-center">Sales Tax Collection</li>
      </div>
    </div>

    <!-- additional information -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Additional Information</h3>
      </div>
          <div class="list-group">
          <a href="vehicleregfaq.html" class="list-group-item list-link text-center" data-remote="false" data-toggle="modal" data-target="#myModal">Vehicle Registration & Titles FAQ</a>
          <a href="salestaxfaq.html" class="list-group-item list-link text-center" data-remote="false" data-toggle="modal" data-target="#myModal">Sales Tax on Vehicles FAQ</a>
          <a href="http://itd.idaho.gov/itddmv" class="list-group-item list-link text-center" target="_blank">Idaho Department of Transportation</a>
        </div>
    </div>
  </div> <!-- class="col-md-4" -->
</div>

{% include modalPopup.html %}

<script type="text/javascript">
//args contains the list of control elements that needs to be examined
const args = ['dmvNews', 'dmvNotice'];
//pass in the args array and the department
getNewsandNotices(args, "DMV")
</script>
