---
layout: page
title: Court Assistance
permalink: /court_assistance/
tree: true
calendar: true
---

<div class="row">
  <div class="col-md-8">
    <!-- Department Description -->
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-body">
          <p>This office provides the public self-help access to legal information, social services, and assistance with standard court forms for routine civil cases in state court. This office does not provide services for post-conviction criminal matters or cases against Latah County.
          </p>
          <p>
            This office deals with cases in State courts. To access information about Idaho's Federal Courts, including frequently asked questions about bankruptcy, please see <a href="https://www.id.uscourts.gov">www.id.uscourts.gov</a>.
          </p>
        </div>
      </div>
    </div>
    <!-- End Description -->
    <div class="col-md-12">
      <div class="panel-group" id="accordion">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Office Hours
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="collapse">
            <div class="panel-body">
              <div id="calendarMonth"></div>              
            </div>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading" id="caseTypes">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Case Types
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="collapse">
            <div class="panel-body">
              <ul class="list-unstyled">
              <li>Divorce</li>
              <li>Paternity/Child Custody</li>
              <li>Parenting Plan Agreement/Modification</li>
              <li>Child Support Modification</li>
              <li>Minor Guardianship</li>
              <li>Name Change</li>
              <li>Domestic Violence</li>
              <li>Landlord Eviction</li>
              <li>Small Claims</li>
              <li>Tenant Repairs</li>
            </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                Statewide Approved Court Forms Site
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="collapse">
            <div class="panel-body">
              <a href="https://courtselfhelp.idaho.gov">Court Self Help</a>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                Court Assistance Office Locations
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="collapse">
            <div class="panel-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Office</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="col-md-2"> <a href="https://www.adaweb.net/cao">Ada County Courthouse</a></td>
                    <td class="col-md-2">(208) 287-6963</td>
                    <td class="col-md-4">200 West Front Street Boise, ID 83702</td>
                  </tr>
                  <tr>
                    <td class="col-md-2"> <a href="https://www.co.bannock.id.us">Bannock County Courthouse</a></td>
                    <td class="col-md-2">(208) 236-7067</td>
                    <td class="col-md-4">624 E Center - Rm. 103A Pocatello, ID 83201</td>
                  </tr>
                  <tr>
                    <td class="col-md-2"> <a href="https://www.canyoncounty.org">Canyon County Courthouse</a></td>
                    <td class="col-md-2">(208) 454-7455</td>
                    <td class="col-md-4">1115 Albany St. - Rm. 315 Caldwell, ID 83605</td>
                  </tr>
                  <tr>
                    <td class="col-md-2"> <a href="https://www.goodingcounty.org">Gooding County Courthouse</a></td>
                    <td class="col-md-2">(208) 934-4261</td>
                    <td class="col-md-4">624 Main Gooding, ID 83330</td>
                  </tr>
                  <tr>
                    <td class="col-md-2"> <a href="https://www.latah.id.us">Latah County Courthouse</a></td>
                    <td class="col-md-2">(208) 883-7221</td>
                    <td class="col-md-4">522 S Adams Moscow, ID 83843</td>
                  </tr>
                  <tr>
                    <td class="col-md-2"> <a href="https://www.twinfallscounty.org">Twin Falls Courthouse</a></td>
                    <td class="col-md-2">(208) 736-4137</td>
                    <td class="col-md-4">425 Shoshone St. North Twin Falls, ID 83301</td>
                  </tr>
                  <tr>
                    <td class="col-md-2"> <a href="https://www.co.valley.id.us/departments/courts/">Valley County Courthouse</a></td>
                    <td class="col-md-2">(208) 382-4150</td>
                    <td class="col-md-4">219 N Main Cascade, ID 83611</td>
                  </tr>
                  <tr>
                    <td class="col-md-2"> 7th Judicial District Office</td>
                    <td class="col-md-2">(208) 589-9872</td>
                    <td class="col-md-4">Field offices located in: Bingham, Bonnerville, Bute, Clark, Custer, Fremont, Jefferson, Lemhi, Madison and Teton Counties.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div><!-- End accordion -->

      <!-- forms -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title text-center">Court Assistance Forms and Files</h4>
        </div>
        <div class="list-group">
          <div id="caoDir"></div>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
          <div class="list-group pre-scrollable">
            <div id="forms" class="list-group-item"></div>
            <noscript>To view forms please enable JavaScript or update your browser</noscript>
          </div>
        </div>
      </div> <!-- end forms -->
    </div> <!-- class="col-md-12" -->
  </div> <!-- <div class="col-md-8"> -->
  <!-- services -->
  <div class="col-md-4">
    {% include contactBlock.html %}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Our Services</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item text-center">Court Standard Forms and Instructions</li>
      </ul>
    </div>
    <!-- Todays Hours -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Hours</h4>
      </div>
      <div id='loading' class="text-center">
        <i class="fa fa-spinner fa-2x fa-spin"></i>
      </div>
      <div id='calendar'></div>
      <div class="panel-footer text-center">
        <a class="btn btn-default" data-toggle="collapse" href='#collapseOne'>View Calendar</a>
      </div>
      {% include calendarModal.html %}
    </div>
    <br />
  </div><!-- <div class="col-md-4"> -->
</div><!-- row -->

<script type="text/javascript">
  deptTree("caoDir", "CourtAssistance")
</script>

  <script type="text/javascript">
  function downloadFileEx(filename){
  				var url = 'https://gis.latah.id.us/api/DownloadFileEx?filename=' + filename;
  				window.open(url);
  			}
  </script>
<script type="text/javascript">
  calendarMonth('CAO-Hours', 30, 90);
  calendarList('CAO-Hours', 0, 5);
</script>