---
layout: page
title: Driver Licensing
permalink: /driver_licensing/
news: true
tree: true
---

<div class="row">
  <!-- Left Pane -->
  <div class="col-md-8">
    <!-- Department Description -->
    <div class="">
      <div class="panel panel-primary">
        <div class="panel-body text-justify">
          <p>
            Under the direction of the Sheriff, this department administers written driver's tests (road driver's tests are administered by private skills testers) and provides applicants who have passed these tests with an approved Idaho State Driver's License. This department also issues and renews current Idaho driver's licenses and identification cards, drivers education permits and takes photos for concealed weapons permits. This department is located at the Latah County Annex at 200 S. Almon Street in Moscow.
          </p>
        </div>
      </div>
    </div>
    <!-- End Description -->
    <!-- Fingerprinting -->
    <div class="">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <p>
            Fingerprinting and written tests are available at the Driver's License office M-F from 8:00 am to 4:00 pm.
          </p>
        </div>
      </div>
    </div>
    <!-- End Fingerprinting -->      
    
    <div class="row" id="newsNotices">
        <div class="container col-md-6" id="notices">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Notices</h3>
            </div>
            <div class="list-group">
              <div id="dlNotice"></div>
            </div>
          </div>
        </div>
        <div class="container col-md-6" id="news">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title text-center">News</h3>
            </div>
            <div class="list-group">
              <div id="dlNews"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- forms -->
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title text-center">Drivers License Forms</h4>
          </div>
          <div class="list-group">
            <div id="dlDir" class="list-group-item"></div>
          </div>
          <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
            <div class="list-group pre-scrollable">
              <div id="forms"></div>
              {% include noscript.html %}
            </div>
          </div>
        </div>
      </div>

  
  <!-- End Left Pane -->
  <!-- Right Pane -->
  <div class="col-md-4">
    {% include contactBlock.html %}
    <!-- Services -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Our Services</h3>
      </div>
      <ul class="list-group text-center">
        <li class="list-group-item">Concealed Weapon Permit Photos</li>
        <li class="list-group-item">Drivers License Testing</li>
        <li class="list-group-item">Drivers License ID Cards</li>
        <li class="list-group-item">Drivers Education Permits</li>
        <li class="list-group-item">Fingerprinting</li>
      </ul>
    </div>
    <!-- End Services -->
     <!-- additional information -->
     <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Additional Information</h3>
      </div>
      <div class="list-group">
        <a href="http://itd.idaho.gov/itddmv/?target=drivers-license-id-cards" class="list-group-item list-link text-center">Idaho Transportation Department Drivers Services</a>        
        <a href="https://itd.idaho.gov/starcard/" class="list-group-item list-link text-center" >Starcard Information</a>        
      </div>
    </div>
  </div>
  <!-- End Right Pane -->
</div>
</div>

<script type="text/javascript">
  deptTree("dlDir", "DriversLicense")
</script>

<script type="text/javascript">
  //args contains the list of control elements that needs to be examined
  const args = ['dlNews', 'dlNotice'];
  //pass in the args array and the department
  getNewsandNotices(args, "DL")
</script>