---
layout: page
title: Assessor
permalink: /assessor/
tree: true
news: true
---

<div class="row" id="infoRow">
  <div class="col-md-8">

    <!-- description -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <p class="panel-body">
          The appraisal of all property, real and personal, in Latah County is the responsibility of the elected county Assessor. The
          two main purposes of the Assessor are to identify current owners of property and to place a value on property for
          assessment purposes. Another main function is to track all exemptions including homeowner's and circuit breakers.
          The Assessor also administers the licensing and titling of motor vehicles.
        </p>
      </div>
    </div>

    <div class="container col-md-6" id="notices">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center">Notices</h3>
        </div>
        <div class="list-group">
          <div id="assrNotice" class="list-group-item"></div>
        </div>
      </div>
    </div>
    <div class="container col-md-6" id="news">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center">News</h3>
        </div>
        <div class="list-group">
          <div id="assrNews" class="list-group-item"></div>
        </div>
      </div>
    </div>
  </div>
  <!--class="col-md-8" -->

  <!-- services -->
  <div class="col-md-4">
    {% include contactBlock.html %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="text-center">Our Services</h3>
      </div>
      <div class="list-group">
        <li class="list-group-item text-center">Property Appraisals</li>
        <li class="list-group-item text-center">Exemption Tracking</li>
        <li class="list-group-item text-center">Vehicle licensing and Titling</li>
      </div>
    </div>

    <!-- additional information -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="text-center">Additional Information</h3>
      </div>
      <div class="list-group">
        <a href="assessorfaq.html" class="list-group-item list-link text-center" data-remote="false" data-toggle="modal" data-target="#myModal">Assessor FAQ</a>
        <a href="https://tax.idaho.gov/i-1051.cfm#sub1" class="list-group-item list-link text-center" target="_blank">Homeowners & Property Tax</a>
        <a href="https://gis.latah.id.us/parcelviewer/index.html" class="list-group-item list-link text-center" target="_blank">Latah County Parcel Viewer</a>
        <a href="taxexemptproperty.html" class="list-group-item list-link text-center" data-remote="false" data-toggle="modal" data-target="#myModal">Tax Exempt Property & FAQ</a>
      </div>
    </div>

    <!-- forms -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class=" text-center">Assessor Forms and Files</h4>
      </div>
      <div class="list-group">
        <div id="assessorDir" class="list-group-item"></div>
      </div>
      <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
        <div class="list-group pre-scrollable" id="forms">
          <div id="forms"></div>
          {% include noscript.html %}
        </div>
      </div>
    </div>
  </div>
  <!-- class="col-md-4" -->


{% include modalPopup.html %}

<script type="text/javascript">
  deptTree("assessorDir", "Assessor")
</script>

<script type="text/javascript">
  //args contains the list of control elements that needs to be examined
  const args = ['assrNews', 'assrNotice'];
  //pass in the args array and the department
  getNewsandNotices(args, "Assr")
</script>
