---
layout: page
title: Assessor
permalink: /assessor/
tree: true
news: true
fileDownload: true
---

<div class="row" id="infoRow">
  <div class="col-md-8">
    <!-- description -->
    <div class="row" id="deptDescription">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-body">
            <figure style="float:left; padding:0.5em; margin-right:10px; ">
              {% cloudinary /img/officials/RodWakefield.png class="figure-img img-responsive rounded" width="250" alt="Latah County Assessor" %}
              <figcaption class="figure-caption text-center">Assessor Rod Wakefield</figcaption>
            </figure>
            <p>
              The County Assessor maintains a current record of ownership of all property within Latah County, prepares a map or <a href="assessorPlatMapsDT/">Assessor’s Plat Record</a> of all real property within the county, and assesses the market value of all property in the county. The Assessor must notify each property owner of the assessed value of their property on an annual <a href="#" onclick="downloadFileEx('Assessment-Notice-Sample.pdf'); return false;">Assessment Notice</a>.
            </p>
            <p>
              The Assessor submits annual property rolls and abstracts with all of the county’s assessment data to the County Auditor and the State Tax Commission. These reports include the <a href="#" onclick="downloadFileEx('September_values_2017.pdf'); return false;">overall taxable value</a> of all property located within the boundaries of local taxing districts. This total taxable value is part of the calculation used by local taxing districts to set their annual property tax levies.
            </p>
            <p>
              The property tax levy is the rate at which all property will be taxed in order to collect the amount of property taxes approved in that year’s budget. The assessed value of each property determines that property owner’s share of the annual property taxes to be collected.
            </p>
            <p>
              The Assessor’s Office also administers <a href="https://tax.idaho.gov/i-1051.cfm#sub1">homeowner exemption</a> applications, as well as the state <a href="https://tax.idaho.gov/pubs/EBR00135_10-24-2017.pdf">Property Tax Reduction</a> Program (also known as “Circuit Breaker”) for qualifying senior citizens or disabled homeowners.
            </p>
            <p>
              In Idaho, the licensing and titling of vehicles and vessels performed at <a href="../dmv/">DMVs</a> also falls under the responsibility of the County Assessor.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="newsNotices">
      <div class="container col-md-6" id="notices">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title text-center">Notices</h3>
          </div>
          <div class="list-group">
            <div id="assrNotice"></div>
          </div>
        </div>
      </div>
      <div class="container col-md-6" id="news">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title text-center">News</h3>
          </div>
          <div class="list-group">
            <div id="assrNews"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="well">
      <figure>
        {% cloudinary /img/assessor/2019AssessorStaff.jpg class="img-responsive rounded" alt="Employees of the Latah County Assessor’s Office" %}
        <figcaption class="figure-caption text-center">Latah County Assessor’s Office</figcaption>
      </figure>
    </div>
    <div class="well">
      <figure>
        {% cloudinary /img/assessor/2019DMVStaff.jpg class="img-responsive rounded" alt="Employees of the DMV" %}
        <figcaption class="figure-caption text-center">Department of Motor Vehicles</figcaption>
      </figure>
    </div>
  </div>
  <!--class="col-md-8" -->

  <!-- services -->
  <div class="col-md-4">
    {% include contactBlock.html %}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Our Services</h3>
      </div>
      <ul class="list-group">
        <a href="assessorPlatMapsDT/" class="list-group-item list-link text-center">Assessor's Plat Record</a>        
        <a href="#" class="list-group-item list-link text-center" onclick="downloadFileEx('Assessment-Notice-Sample.pdf'); return false;">Property Assessments</a>                
        <a href="https://tax.idaho.gov/pubs/EBR00135_10-24-2017.pdf" class="list-group-item list-link text-center">Property Tax Relief</a>        
        <a href="../dmv/" class="list-group-item list-link text-center">Vehicle licensing</a>
      </ul>
    </div>

    <!-- additional information -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Additional Information</h3>
      </div>
      <div class="list-group">
        
        <a href="assessorfaq.html" class="list-group-item list-link text-center" data-remote="false" data-toggle="modal" data-target="#myModal">Assessor FAQ</a>        
        <a href="https://tax.idaho.gov/i-1051.cfm#sub1" class="list-group-item list-link text-center" target="_blank">Homeowners &amp; Property Tax</a>
        <a href="http://gis.latah.id.us/ParcelViewer/ParcelViewer.html" class="list-group-item list-link text-center" target="_blank">Latah County Parcel Viewer</a>
        <a href="taxexemptproperty.html" class="list-group-item list-link text-center" data-remote="false" data-toggle="modal" data-target="#myModal">Tax Exempt Property & FAQ</a>
      </div>
    </div>

    <!-- forms -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Assessor Forms and Files</h4>
      </div>
      <div class="list-group">
        <div id="assessorDir" class="list-group-item"></div>
      </div>
      <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
        <div class="list-group pre-scrollable">
          <div id="forms"></div>
          {% include noscript.html %}
        </div>
      </div>
    </div>
  </div>
  <!-- class="col-md-4" -->

<!-- test -->

{% include modalPopup.html %}

<script type="text/javascript">
  deptTree("assessorDir", "Assessor")
</script>

<script type="text/javascript">
  //args contains the list of control elements that needs to be examined
  const args = ['assrNews', 'assrNotice'];
  //pass in the args array and the department
  getNewsandNotices(args, "Assr")
</script>