---
layout: page
title: Elections
permalink: /auditor/elections/
calendar: true
news: true
tree: true
---
<!-- Info Row -->
<div class="row">
  <div class="col-md-8">
    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <a href="https://idahovotes.gov/" target="_blank">
            <img src="https://idahovotes.gov/images/LinkedIn.jpg" class="center-block" width="320" alt="Idaho Votes">
          </a>
        </div>
        <div class="col-md-6 center-block">
          <video class="center-block" width="320" height="180" controls>
            <source src="https://idahovotes.gov/videos/Extended_Video.mp4" type="video/mp4"> Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
    <div class="row" id="newsNotices">
      <div class="container col-md-6" id="notices">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title text-center">Notices</h3>
          </div>
          <div class="list-group">
            <div id="electionsNotice"></div>
          </div>
        </div>
      </div>
      <div class="container col-md-6" id="news">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title text-center">News</h3>
          </div>
          <div class="list-group">
            <div id="electionsNews"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="" id="upcomingElections">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <h4 class="panel-title">Upcoming Elections</h4>
        </div>
        <div class="panel-body">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">            

            <div id="ElectionsDir1" class="list-group-item"></div>             

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title text-center">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      More Info
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                  <p>
                    For details of which specific districts, cities, and any possible elections please see the 2017 Election Calendar on the Elections Home Page under Election Links.
                  </p>
                  <p>
                    Note: *When a deadline happens on a Saturday or Sunday the date is extended until the following business day. Our goal is to get absentee ballots mailed to you as soon as possible so that they can be returned in time to be counted.
                  </p>
                  <p>
                    Please be sure to complete the FPCA including all the necessary information and identification required by the State of Idaho, Email addresses and complete telephone numbers are very helpful in the absentee voting process.
                  </p>
                  <p>
                    <strong>REMEMBER: Voter registration closes 25 days before every election date.</strong>
                  </p>
                  <p class="text-center">
                    Latah County Elections Department December 11, 2017
                  </p>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div class="panel-footer text-center">
          <p>
            If you have any questions or concerns please contact the Latah County Elections Department at 208-883-2278 and we will be happy to assist you in this process.
          </p>
        </div>
      </div>


      <div class="panel panel-default">
          <div class="panel-heading text-center" role="tab" id="erHeadingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#electionResources" href="#er3" aria-expanded="false" aria-controls="er3">
                 Prior Elections and Results
              </a>
            </h4>
          </div>
          <div id="er3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="erHeadingThree">
              <div id="pastElections" class="list-group-item"></div>
          </div>
        </div>


    </div>
  </div>
  <div class="col-md-4">
    <!-- Contact -->
    {% include contactBlock.html %}
    <!-- Upcoming Events -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Upcoming</h4>
      </div>
      <div id='loading' class="text-center"><i class="fa fa-spinner fa-2x fa-spin"></i></div>
      <div id='calendar'></div>
      {% include calendarModal.html %}    
    </div><br />
    <!-- Election Resources -->
    <div class="panel-group" id="electionResources" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="erHeadingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#electionResources" href="#er1" aria-expanded="true" aria-controls="er1">
              Voter Registration and Absentee Requests
            </a>
          </h4>
        </div>
        <div id="er1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="erHeadingOne">
          <div class="list-group">
            <a href="https://apps.idahovotes.gov/OnlineVoterRegistration/" target="_blank" class="list-group-item list-link ">Online Voter Registration</a>
            <a href="https://idahovotes.gov/media/voter_registration.pdf" target="_blank" class="list-group-item list-link">Printable Voter Registration Form</a>
            <a href="https://idahovotes.gov/media/absentee.pdf" target="_blank" class="list-group-item list-link">Absentee Ballot Request Form</a>
            <a href="https://apps.idahovotes.gov/YourPollingPlace/AbsenteeBallotEnquiry.aspx" target="_blank" class="list-group-item list-link">Absentee Ballot Status</a>
            <a href="https://idahovotes.gov/media/party_affiliation.pdf" target="_blank" class="list-group-item list-link">Political Party Affiliation Form</a>
            <a href="https://www.fvap.gov/idaho" target="_blank" class="list-group-item list-link">Military/Overseas Registration and Absentee Request</a>
            <a href="https://vote.gov/" target="_blank" class="list-group-item list-link">Out of State Voter Registration and Absentee Request Information</a>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="erHeadingTwo">
          <h4 class="panel-title">
            <a href="https://apps.idahovotes.gov/YourPollingPlace/WhereDoIVote.aspx" target="_blank">Polling/Voting Location Finder</a>
          </h4>
        </div>
      </div>

      <!-- -->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="erHeadingSix">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#electionResources" href="#er6" aria-expanded="false" aria-controls="er6">
               Prior State Elections and Results
            </a>
          </h4>
        </div>
        <div id="er6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="erHeadingSix">
          <div class="list-group">             
            <a href="https://sos.idaho.gov/elect/results/index.html" target="_blank" class="list-group-item list-link">State of Idaho Election Results</a>
          </div>
        </div>
      </div>
      <!-- -->


      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="erHeadingFour">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#electionResources" href="#er4" aria-expanded="false" aria-controls="er4">
                Maps
            </a>
          </h4>
        </div>
        <div id="er4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="erHeadingFour">
          <div class="list-group">
            <a href="https://www.latah.id.us/elections/Voter%20Precincts%20Moscow%2011by17.pdf" target="_blank" class="list-group-item list-link">City of Moscow Precinct Map</a>
            <a href="https://www.latah.id.us/elections/Commissioner%20Districts%20Moscow%2011by17.pdf" target="_blank" class="list-group-item list-link">City of Moscow Commissioner District Map</a>
            <a href="https://www.latah.id.us/elections/Voter_Precincts_2014_11x17.pdf" target="_blank" class="list-group-item list-link">Latah County Precinct Map</a>
            <a href="https://www.latah.id.us/elections/CommissionerDistricts.pdf" target="_blank" class="list-group-item list-link">Latah County Commissioner District Map</a>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="erHeadingFive">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#electionResources" href="#er5" aria-expanded="false" aria-controls="er5">
               Calendars &amp; Links
            </a>
          </h4>
        </div>
        <div id="er5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="erHeadingFive">
          <div class="list-group">
            <a href="https://www.latah.id.us/elections/2018/electionsCalendar.pdf" target="_blank" class="list-group-item list-link">2018 Election Calendar for Latah County</a> <!-- Todo - a add pdf to the site -->
            <a href="https://sos.idaho.gov/elect/2018Calendar.html" target="_blank" class="list-group-item list-link">2018 State Consolidation Calendar</a>
            <a href="#" class="list-group-item list-link">City Clerks</a> <!-- Todo -add in modal -->
            <a href="#" class="list-group-item list-link">Political Parties in Idaho</a><!-- Todo -add in modal -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Info Row -->
<div class="row">  
</div>

<script type="text/javascript">
  deptTree("ElectionsDir1", "Elections")
</script>
<script type="text/javascript">
  deptTree("pastElections", "ElectionsArchive")
</script>
<script>
  $(() => {
    $('#ElectionsDir1').treeview('expandNode', [ nodeId=0, { levels: 1, silent: true } ]);
  });
</script>

<script type="text/javascript">
  calendarList('Elections', 0, 30);
  calendarMonth();
</script>
<script type="text/javascript">
  const args = ['electionsNews', 'electionsNotice'];
  getNewsandNotices(args, "Elections")
</script>